/*Generador*/

header {
    height: 120px;
    background-color: #191E2B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

h1 {
    text-align: center;
}

nav {
    margin: 0 auto;
    min-width: 250px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    cursor: pointer;
    font-size: .9em;
    padding: 5px 10px;
    border-radius: 2px;
    transition: background-color .2s;
}

.generator {
    display: flex;
    flex-grow: 1;
}

.generator-background {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30343F;
    padding: 0 20px;
    height: 100%;
}

.generator-meme {
    width: 100%;
    max-width: 600px;
    text-align: center;
    height: 600px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
}

.meme-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    background-color: white;
    padding: 20px 50px;
    line-height: 1.2;
    position: static;
}

.contorno-claro {
    -webkit-text-stroke: 2px white;
}

.contorno-oscuro {
    -webkit-text-stroke: 2px black;
}

#meme-img {
    flex-grow: 1;
    width: 100%;
    background-size: cover;
}

#download-btn {
    padding: 15px;
    height: auto;
    margin-top: 30px;
    font-size: .8em;
    border: none;
    background-color: #2e7d32;
    color: white;
    cursor: pointer;
    transition: background-color .2s;
}

@media screen and (max-width: 700px) {

    header {
        padding: 15px;
    }

    header h1 {
        font-size: 1.6em;
    }

    .generator-meme {
        width: 300px;
        height: 300px;
    }

    .meme-text {
        font-size: 20px;
        padding: 9px 15px;
    }
}